<%= render layout: 'recipe_layout' do %>
    <div class="flex gap-16">
      <%= button_to recipes_path, method: :get, class: "gap-10 p-10-20 black-button" do %>
        <%= image_tag "icons/sweet-white.svg", alt: "sweet icon", class:"w-16" %>
        <span>Sweets</span>
      <% end %>
      <%= button_to recipes_path, method: :get, class: "gap-10 p-10-20 white-button" do %>
        <%= image_tag "icons/savouries-black.svg", alt: "savoury icon", class:"w-16" %>
        <span>Savouries</span>
      <% end %>
      <%= button_to recipes_path, method: :get, class: "gap-10 p-10-20 white-button" do %>
        <%= image_tag "icons/bakery-black.svg", alt: "bakery icon", class:"w-16" %>
        <span>Bakery</span>
      <% end %>
    </div>
    <div class="p-10-20-40 mt-24" border="1 solid color-border rad-5">
      <div class="flex align-i-center just-c-space-between p-10">
        <div class="flex gap-12 row align-i-center">
          <%= image_tag "icons/sweet-black.svg", alt: "recipe icon", class:"w-24" %>
          <h3 class="m-0">Sweets</h3>
        </div>
        <%= button_to new_recipe_path, method: :get, class: "p-10-12 gap-8 black-button" do %>
          <%= image_tag "icons/add-white.svg", alt: "add icon", class:"w-16" %>
          <span>Add Sweet</span>
        <% end %>
      </div>
      <div class="flex row gap-30 mt-24 wrap">
        <%= render partial: @recipes %>
      </div>
    </div>
<% end %>
