<div border="1 solid color-border rad-10" class="p-10-20-40">
  <h3 class="color-secondary-text mb-40">Recipe#<%= @recipe.id %></h3>
  <div class="p-0-10">
  <label class="color-secondary-text inline-block mb-8" font="s-0.9rem">Name</label>
  <h2 class="m-0"><%= @recipe.name %></h2>
  </div>
  <div class="flex row gap-70 p-30-10">
    <div>
      <label class="color-secondary-text inline-block mb-8" font="s-0.9rem">Quantity</label>
      <h3 class="m-0"><%= @recipe.quantity %><%= @recipe.unit %></h3>
    </div>
    <div>
      <label class="color-secondary-text inline-block mb-8" font="s-0.9rem">Type</label>
      <h3 class="m-0"><%= @recipe.kind.capitalize %></h3>
    </div>
  </div>
  <hr class="bd-color-white"/>
  <div class="flex just-c-center w-100p">
    <h4 class="bg-color-white color-secondary-text relative p-0-5 b-40 inline-block">Ingredients</h4>
  </div>
  <div class="flex gap-30">
    <% @recipe.ingredients.each do %>
      <div class="bg-color-nav-item-hover bd-rad-10 p-20-40 flex row w-100p align-i-center just-c-space-between">
        <div font="s-1.1rem w-600">
          <%= it.material.name %>
        </div>
        <div class="flex row gap-15 align-i-center">
          <div font="s-1.4rem w-100">|</div>
          <div><%= it.quantity %><%= it.material.unit %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
