<%= turbo_frame_tag dom_id(stock) do %>
  <div class="stock p-16 flex column gap-16"
       border="1 solid color-border rad-4"
       data-controller="stock"
       data-stock-material-id-value="<%= stock.material_id %>"
       data-stock-name-value="<%= stock.material.name %>"
       data-stock-current-value="<%= stock.current %>"
       data-stock-minimum-value="<%= stock.minimum %>"
       data-stock-unit-value="<%= stock.material.unit %>"
       data-stock-price-value="<%= stock.value %>"
  >
    <h3 class="m-0"><%= stock.material.name %></h3>
    <div class="flex gap-16p align-i-center">
      <div>
        <label class="color-secondary-text inline-block font-s-0.9rem">Current Stock</label>
        <div class="font-w-600 font-s-1.2rem"><%= stock.current %> <%= stock.material.unit %></div>
      </div>
      <div>
        <label class="color-secondary-text inline-block font-s-0.9rem">Minimum Stock Level</label>
        <div class="font-w-600"><%= stock.minimum %> <%= stock.material.unit %></div>
      </div>
      <div>
        <label class="color-secondary-text inline-block font-s-0.9rem">Total Value</label>
        <div class="font-w-600 color-money">₹ <%= stock.value %></div>
      </div>
      <div>
        <div>
          <span class="<%= stock.status == "Good" ? "bg-color-good-status-bg" : "bg-color-bad-status-bg" %>
                       border-rad-4 color-white p-5-10 " font="s-0.9rem">
            <%= stock.status %>
          </span>
        </div>
      </div>
    </div>
    <div>
      <div class="flex just-c-space-between">
        <label class="color-secondary-text inline-block font-s-0.8rem mb-4">Stock Level</label>
        <span class="color-secondary-text inline-block font-s-0.8rem mb-4" data-stock-target="percentage">
        </span>
      </div>
      <div class="w-100p h-10 relative" border="1 solid color-secondary-text rad-25">
        <div class="h-100p border-rad-25" data-stock-target="percentageBar">
        </div>
      </div>
    </div>
    <div class="color-secondary-text font-s-0.8rem">
      Last updated: <%= stock.updated_at.strftime("%d/%m/%Y, %I:%M:%S %p") %>
    </div>
  </div>
<% end %>
