<%= turbo_frame_tag dom_id(material) do %>
  <div class="p-20 max-needed-width inline-block common-shadow hover:elevated-shadow" border="1 solid color-border rad-4">
    <div class="flex gap-40">
      <div>
        <h3 class="m-0-0-44 inline-block w-200"><%= material.name.truncate(20) %></h3>
        <div class="flex column gap-30 w-100p">
          <div>
            <label class="color-secondary-text inline-block mb-8" font="s-0.9rem">current stock</label>
            <div font="w-600 s-1.1rem"><%= material.stock.current %> <%= material.unit %> </div>
          </div>
          <div>
            <label class="color-secondary-text inline-block mb-8" font="s-0.9rem">Minimum Stock Level</label>
            <div font="w-600"><%= material.stock.minimum %> <%= material.unit %> </div>
          </div>
          <div>
            <label class="color-secondary-text inline-block mb-8" font="s-0.9rem">Total Value</label>
            <div class="color-money" font="w-600">₹ <%= material.stock.value %></div>
          </div>
        </div>
      </div>
      <div class="flex column just-c-space-between w-133">
        <div class="flex gap-10 just-c-center">
          <%= button_to 'Edit', edit_material_path(material), method: :get,
                        class: "p-6-12 black-button" %>
          <%= button_to 'Delete', material_path(material), method: :delete,
                        data: { turbo_confirm: 'Are you sure?' },
                        class: "p-6-12 white-button" %>
        </div>
        <div class="flex align-i-baseline just-c-center">
          <label class="color-secondary-text inline-block mb-8" font="s-0.9rem">Status:&ensp;&ensp;</label>
            <span class="<%= material.stock.status == "Good" ? "bg-color-good-status-bg" : "bg-color-bad-status-bg" %>
                        border-rad-4 color-white p-5-10 " font="s-0.75rem">
              <%= material.stock.status %>
            </span>
        </div>
      </div>
    </div>
  </div>
<% end %>
