<%= render layout: 'layouts/settings' do %>
  <div class="p-10-20-40 bg-color-white common-shadow mt-24" border="1 solid color-border rad-5">
    <div class="flex gap-8 row align-i-center">
      <%= image_tag "icons/material-black.svg", alt: "material icon", class:"w-20" %>
      <h2>Materials Management</h2>
    </div>
    <%= turbo_frame_tag "new_material" do %>
      <%= button_to new_material_path,
                    method: :get,
                    class: "gap-8 p-10-20 black-button" do %>
        <%= image_tag "icons/add-white.svg", alt: "add icon", class:"w-16" %>
        <span>Add Material</span>
      <% end %>
    <% end %>
    <%= turbo_frame_tag "materials", class: "flex gap-40 flex-wrap mt-30" do %>
      <%= render partial: @materials %>
    <% end %>
  </div>
<% end %>
