<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Inventory Manager" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <div class="w-20p fixed h-100vh bg-color-nav-bg nav-shadow" border="1 solid color-border">
        <h2 class="p-20 m-0" border-b="1 solid color-border">Inventory Pro</h2>
        <nav>
          <ul class="no-dots flex column gap-8 p-20" font="s-1.2rem">
            <li>
              <%= link_to "Materials", materials_path, class: params[:controller] == 'materials' ? 'current-nav-item' : 'nav-item'  %>
            </li>
            <li>
              <%= link_to "Inventory", stocks_path, class: params[:controller] == 'stocks' ? 'current-nav-item' : 'nav-item' %>
            </li>
            <li class="nav-item">Recipes</li>
            <li class="nav-item">Production</li>
            <li class="nav-item">Dashboard</li>
          </ul>
        </nav>
      </div>
      <main class="w-80p ml-20p"><%= yield %></main>
    </div>
  </body>
</html>
